<div
  openInMobile
  [cardFooter]="cardFooter"
  [cardFooterContent]="cardFooterContent"
  class="card"
>
  <div class="card-header">
    <label>{{ city.name }}, {{ city.country }}</label>
  </div>
  <div class="card-content" *ngIf="currentWeather">
    <div class="card-body">
      <span [ngClass]="getTemperatureColor()"
        >{{ currentWeather.temp | number: "1.0-0" }}<code>&deg;</code></span
      >
    </div>
    <div class="card-footer" #cardFooter>
      <div class="card-footer-content" #cardFooterContent>
        <div>
          <p class="footer-info">HUMIDITY</p>
          <p class="footer-info-value">{{ currentWeather.humidity }}%</p>
        </div>
        <div>
          <p class="footer-info">PRESSURE</p>
          <p class="footer-info-value">{{ currentWeather.pressure }}hPa</p>
        </div>
      </div>
      <p class="update-info">
        Updated at {{ updateHour | date: "hh:mm:ss a" }}
      </p>
    </div>
  </div>
  <div *ngIf="errorResponse" class="error">
    <span class="error-message">Something went wrong</span>
    <button class="button" (click)="requestCurrentWeather()">Try Again</button>
  </div>
  <div class="loader-container" *ngIf="!currentWeather && !errorResponse">
    <img src="assets/loader.svg" />
  </div>
</div>
