<div class="card" *ngIf="currentWeather">
  <div class="card-header">
    <label>{{ city.name }}, {{ city.country }}</label>
  </div>
  <div class="card-content">
    <div class="card-body">
      <span>{{ currentWeather.temp | number: "1.0-0" }}<code>&deg;</code></span>
    </div>
    <div class="card-footer">
      <div class="card-footer-content">
        <div>
          <p class="footer-info">HUMIDITY</p>
          <p class="footer-info-value">{{ currentWeather.humidity }}%</p>
        </div>
        <div>
          <p class="footer-info">PRESSURE</p>
          <p class="footer-info-value">{{ currentWeather.pressure }}hPa</p>
        </div>
      </div>
      <p class="update-info">Updated at 02:48:27 PM</p>
    </div>
  </div>
</div>
