.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgba(51, 51, 51, .1);
    cursor: default;

    height: 250px;
    width: 250px;
    transition: all .5s;

    @media screen and (max-width: 575px) {
        height: 200px;
        width: 200px;
    }

    &:hover {

        @media screen and (min-width: 992px) {
            transform: scale(1.2);
        }

        .card-content {
            .card-footer {
                height: 80px;
                .card-footer-content {
                    display: flex;
                }

                .update-info {
                    height: calc(100% - 40px);
                }
            }
        }
    }

    .card-header {
        border-bottom: 1px solid #ebebeb;
        text-align: center;
        padding: 12px 0;
        color: #737c84;
    }

    .card-content {
        height: calc(100% - 43px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-body {
            @extend .card-content;
            justify-content: center;
            align-items: center;
            font-size: 80px;

            .low-temperature {
                color: #69A3FF;
            }

            .medium-temperature {
                color: #FF9632;
            }

            .high-temperature {
                color: #ED1946;
            }
        }
    
        .card-footer {
            height: 35px;
            padding-top: 12px;
            background-color: rgba(241, 241, 241, .5);
            
            .card-footer-content {
                display: none;
                justify-content: space-around;
                
                .footer-info {
                    font-size:12px;
                    color: #b4b4b4;
                }

               .footer-info-value {
                   text-align: center;
                   color: #737c84;
               }
            }

            .update-info {
                height: calc(100% - 12px);
                display: flex;
                justify-content: center; 
                align-items: center;
                font-size: 10px;
                color: #b4b4b4;
            }
        }
    }

    .loader-container {
        @extend .card-content;
        justify-content: center;
        align-items: center;
    }

    .error {
        @extend .card-content;
        justify-content: center;
        align-items: center;

        .error-message {
            color: #ED1946;
            margin-bottom: 20px;
        }

        .button {
            background-color: white;
            padding: 10px;
            border-radius: 20px;
            border: 2px solid #737C84;
            font-size: 16px;
            color: #737C84;
            width: 100px;
            cursor: pointer;
        }
    }
}